# Ignorar carpeta de WebStorm
.idea/

# Ignorar node_modules globales si hubiera
node_modules/

# Ignorar logs
*.log

# Ignorar .env
**/.env

# Python y temporales
venv/
venv*/
env/
__pycache__/
*.pyc
out*.txt
